body {
  background: black;
  margin: 0; /* Hilangkan margin default */
  font-family: Arial, sans-serif; /* Ganti font jika diperlukan */
}

.headline {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background: black;
  font-size: 20px;
}

.kontainerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; /* Untuk mengatasi overflow ketika tampilan menjadi kecil */
}

.box {
  border: 3px solid #ccc;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.box-atur {
  padding-left: 10px; 
  text-align: left;
  margin-top: 10px;
}

.box-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.box-description {
  font-size: 16px;
  color: white;
  margin: 0;
}

.box-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  display: block;
  margin: 0 auto;
}

button {
  background: purple;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  float: right;
}

/* Media query untuk tampilan perangkat Android */
@media screen and (max-width: 768px) {
}
